
.container {
	margin-bottom: 100px;
}
.item-card-link {
	text-decoration: inherit;
	color: inherit;
}
.item-card-link:hover {
	color: inherit;
}
.selling-date {
	float: right;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}
